/* .burgerConstStyle {
    margin-top: 100px;
    margin-left: 88px;
} */


.block{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    padding-right: 15px;
}