@font-face {
  font-family: 'JetBrains Mono', monospace;
  src: url("./JetBrainsMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'JetBrains Mono', monospace;
  src: url("./JetBrainsMono-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'JetBrains Mono', monospace;
  src: url("./Iceland-Regular.ttf") format("ttf");
}