.burgerIngredients {
    width: 600px;
    max-height: 912px;
    overflow: auto;
    /* interface/bg */
  
    background: #131316;
  }
  
  .burgerIngredientsHeading {
    font-family: JetBrains Mono;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }