
.header {
    width: 100%;
    /* display: flex;
    align-items: center; */
    background-color: #1C1C21;
    height: 88px;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 16px 320px; */
}

.navigationItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    /* margin-right: 112px; */
}

.navigationItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;
    background: #1C1C21;
    border-radius: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pStyle {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* text/primary-light (standart text) */

    color: #F2F2F3;


}

.pStyleInactive {
    /* desktop/text */
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* text/dark grey (secondary text) */

    color: #8585AD;
}


.personalAccount {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;
    /* interface/modal-bg */

    background: #1C1C21;
    border-radius: 40px;
    /* margin-left: 289px; */
}

.personalAccountText {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* text/dark grey (secondary text) */

    color: #8585AD;
}


@media (min-width: 1920px) {
    .headerContent {
        margin: 0 320px;
    }

    .navigationItems {
        margin-right: 112px;
    }

    .personalAccount {
        margin-left: 289px;
    }
}

@media (min-width: 1280px) {

    .navigationItems {
        margin-right: 112px;
    }

    .personalAccount {
        margin-left: 189px;
    }
}